<% logger.error "[line_item=]#{line_item.inspect}"  %>
<% logger.error "[at current_item=]#{@current_item.inspect}" %>
<% if line_item.id == @current_item.id %>
<tr id='current_item'>
<% logger.error "[lhy=]match" %>
<% else %>
<% logger.error "[lhy=]NO match" %>
<tr>
<% end %>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class='item_price'><%= number_to_currency(line_item.total_price) %></td>
</tr>
